<div style="border: 1px solid gray" class="container my-2">
    <div>
        <h2>Relat贸rio Social</h2>
        <div>
            <% if(rel) { %>
                <div><%-rel.relatorio%></div>
            <% } %>
        </div>
    </div>
   <div class="row">
        <a class="col-sm-auto btn btn-primary mx-2 my-2 " href="/cadastros/<%=cad.id%>/visitas/<%=visita.id%>/relatorio">Adicionar Relat贸rio</a>
        <a class="col-sm-auto btn btn-warning mx-2 my-2" href="/cadastros/<%=cad.id%>/visitas/<%=visita.id%>/relatorio/editar">Editar Relat贸rio</a>
        <div class="col"><%-include('../partials/deleteForm.ejs', {scope:"Relat贸rio"})%></div>
   </div>
</div>