<div class="container-fluid ">
    <div class="row align-items-start justify-content-md-center">
        <div class="col">
            <h2>Cadastro de <%=cad.nome.nomeCompleto%></h2>
            <div>Apelido: <%=cad.nome.apelido%></div>
            <div>Nome da mãe: <%=cad.nomeMae%></div>
        </div>
        <div class="col">
            <h2>Documentos:</h2>
            <div>NIS: <%=cad.nis%></div>
            <div>CPF: <%=cad.cpf%></div>
            <div>
                <div>Identidade:</div>
                <div>Número: <%=cad.rg.numero%></div>
                <div>Órgão expedidor: <%=cad.rg.orgaoExpedidor%></div>
                <div>Data de emissão: <%=cad.rg.dataEmissao.toDateString()%></div>
            </div>
        </div>
        <div class="col">
            <h2>Endereço:</h2>
            <div><%=cad.endereco.logradouro%>, <%=cad.endereco.numero%></div>
            <% if(cad.endereco.complemento != null && cad.endereco.complemento !== '') { %>
                <div><%=cad.endereco.complemento%></div>
            <% } %>
            <div>CEP: <%=cad.endereco.cep%>, <%=cad.endereco.bairro%>, <%=cad.endereco.cidade%>, <%=cad.endereco.estado%></div>
        </div>
        <div class="col">
            <h2>Contato:</h2>
            
            <% if(cad.contatos.fixo != null && cad.contatos.fixo !== '') { %>
                <div>Telefone: <%=cad.contatos.fixo%></div>
            <% } %>
            <div>Celular: <%=cad.contatos.celular%></div>
            <% if(cad.contatos.email != null && cad.contatos.email !== '') { %>
                <div>E-mail: <%=cad.contatos.email%></div>
            <% } %>
            <div>Cadastrado por <%=cad.criadoPor%> em <%=cad.criadoEm.getDate()%>/<%=cad.criadoEm.getMonth()%>/<%=cad.criadoEm.getFullYear()%>.</div>
        </div>
        <div><a class="btn btn-primary" href="/cadastros/<%=cad.id%>/editar">Editar</a></div>
    </div>
</div>
<div>
    <%-include('verDocs')%>
</div>
<div>    
    <%-include('deleteForm.ejs', {scope: "Cadastro"})%>
</div>