<!-- Quill CSS -->
<link rel="stylesheet" href="/node_modules/quill/dist/quill.snow.css">

<div style="border: 1px solid lightgray" class="container my-2 w-100">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Relat贸rio Social</h2>
            <div id="quill">
                <% if(rel) { %>
                    <div id="relatorio" style="display:none;"><%= rel.relatorio %></div>
                    <div id="ver"></div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <a class="col-sm-auto btn btn-primary mx-2 my-2 " href="/cadastros/<%=cad.id%>/visitas/<%=visita.id%>/relatorio">Adicionar Relat贸rio</a>
        <a class="col-sm-auto btn btn-warning mx-2 my-2" href="/cadastros/<%=cad.id%>/visitas/<%=visita.id%>/relatorio/editar">Editar Relat贸rio</a>
        <div class="col-sm-auto"><%-include('../partials/deleteForm.ejs', {scope:"Relat贸rio"})%></div>
   </div>

</div>
<!-- Quill -->
<script src="/node_modules/quill/dist/quill.js"></script>
<script>
    var quill = new Quill('#ver', {theme:'snow', readOnly: true});
    rel = document.querySelector('#relatorio');
    quill.setContents(JSON.parse(rel.innerHTML));
</script>