<div class="container-fluid text-start">
    <div class="row justify-content-center">
        <div class="col-6">
            <label for="placa">Placa</label>
            <input class="form-control" type="text" name="placa" value="<%=veiculo.placa%>">
            <label for="ano">Ano</label>
            <input class="form-control" type="number" name="ano" value="<%=veiculo.ano%>">
            <label for="marca">Marca</label>
            <input class="form-control" type="text" name="marca" value="<%=veiculo.marca%>">
            <label for="modelo">Modelo</label>
            <input class="form-control" type="text" name="modelo" value="<%=veiculo.modelo%>">
            <label for="km">Quilometragem</label>
            <input class="form-control" type="number" name="km" value="<%=veiculo.km%>">
            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a class="btn btn-secondary" href="/garagem">Voltar</a>
            </div>
        </div>
    </div>
</div>
